indigo.xcodeproj/project.xcworkspace/
indigo.xcodeproj/xcuserdata/
indigo_server/ctrl.data
indigo_server/resource/*.data
build/*

**/*.orig
**/*.o
**/.hg
**/.hgignore
**/*externals/**/*.a

indigo_drivers/ccd_qsi/externals/
