[submodule "externals/libusb"]
	path = externals/libusb
	url = https://github.com/indigo-astronomy/libusb.git
[submodule "externals/hidapi"]
	path = externals/hidapi
	url = https://github.com/indigo-astronomy/hidapi.git
[submodule "externals/novas"]
	path = externals/novas
	url = https://github.com/indigo-astronomy/novas.git
[submodule "indigo_drivers/ccd_iidc/externals/libdc1394"]
	path = indigo_drivers/ccd_iidc/externals/libdc1394
	url = https://github.com/indigo-astronomy/libdc1394.git
[submodule "externals/libjpeg"]
	path = externals/libjpeg
	url = https://github.com/indigo-astronomy/libjpeg.git
[submodule "indigo_drivers/mount_nexstar/externals/libnexstar"]
	path = indigo_drivers/mount_nexstar/externals/libnexstar
	url = https://github.com/indigo-astronomy/libnexstar.git
