indigo.xcodeproj/project.xcworkspace/
indigo.xcodeproj/xcuserdata/
indigo_server/ctrl.data
indigo_server/resource/*.data
build/*

**/*.orig
**/*.o
**/.hg
**/.hgignore
**/*externals/**/*.a

externals/libusb/
externals/hidapi/
externals/libjpeg/
externals/novas/
indigo_drivers/ccd_qsi/externals/
indigo_drivers/mount_nexstar/externals/libnexstar/

indigo_drivers/gps_nmea/externals/nmealib/build/
