**/*.orig
**/*.o
**/.hg
**/.hgignore
**/.DS_Store
**/GTAGS
**/GPATH
**/GRTAGS
**/*.lo
**/*.la
**/.deps
**/*.log
/build/
/externals/
indigo_private_drivers/
indigo.xcodeproj/project.xcworkspace/
indigo.xcodeproj/xcuserdata/
indigo_server/ctrl.data
indigo_server/resource/*.data
/Makefile.inc
