[submodule "externals/libusb"]
	path = externals/libusb
	url = https://github.com/libusb/libusb.git
[submodule "externals/hidapi"]
	path = externals/hidapi
	url = https://github.com/signal11/hidapi.git
