<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="/resource/bootstrap.min.css"/>
		<style>
			body {
				padding: 10px 2% 0 2%;
				zoom: 0.8;
			}

			.navbar-offset {
				padding-top: 80px;
			}

			.tree {
			}

			.tree li.closed >  ul > li {
				display: none;
			}

			.tree li.open >  ul > li {
				display: list-item;
			}

			.tree li {
				list-style-type:none;
				margin:0;
				padding:10px 5px 0 5px;
				position:relative
			}

			.tree li::before, .tree li::after {
				content:'';
				left:-20px;
				position:absolute;
				right:auto
			}

			.tree li::before {
				border-left:1px solid #999;
				bottom:50px;
				height:100%;
				top:0;
				width:1px
			}

			.tree li::after {
				border-top:1px solid #999;
				height:20px;
				top:30px;
				width:25px
			}

			.tree li span.btn {
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				border:1px solid #999;
				border-radius:5px;
				display:inline-block;
				padding:6px 8px 6px;
				text-decoration:none;
				cursor:pointer
			}

			.tree>ul>li::before, .tree>ul>li::after {
				border:0
			}

			.tree li:last-child::before {
				height:30px
			}

			li > span.btn {
				width: 400px;
				text-align: left;
			}

			li > div.btn {
				width: 100%;
				text-align: left;
				padding-top: 6px;
				padding-bottom: 6px;
			}

			.tree > ul {
				padding-left: 0px;

			}

			.glyphicon::after {
				content: "\0000a0";
			}

			.panel {
				margin-bottom: 0px;
			}

			.panel-body {
				padding: 10px;
			}

			input[type=checkbox] {
				margin: 5px;
			}

			.panel-success {
				border-color:  #5cb85c;
			}

			.panel-success > .panel-heading {
				background-color: #5cb85c;
				color:  white;
			}

			.panel-warning {
				border-color: #f0ad4e;
			}

			.panel-warning > .panel-heading {
				background-color: #f0ad4e;
				color:  white;
			}

			.panel-danger {
				border-color: #c9302c;
			}

			.panel-danger > .panel-heading {
				background-color: #c9302c;
				color:  white;
			}

			.panel-heading {
				font-size: 18px;
				padding: 6px 8px 6px 8px;
			}

			.btn-default {
				background-color: #f5f5f5;
			}

			.panel-body > .alert {
				margin-bottom: 0;
			}

			input.ng-invalid {
				background-color: #FFEEEE;
			}

			input.ng-dirty {
				background-color: #EEEEFF;
			}
			.form-horizontal .control-label {
				text-align: left;
			}
			.label {
				font-weight: bold;
			}
			.btn-switch {
				width: 100%;
			}
			.btn, .control-label, .form-control {
				margin-top: 10px;
			}
			.logo {
				padding-right: 15px;
			}
		}
		</style>
		<title>INDIGO Control Panel</title>
		<script language="javascript" type="text/javascript">
		</script>
	</head>
	<body ng-app="INDIGO" ng-controller="INDIGOController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<a href="http://www.indigo-astronomy.org/"><img class="pull-right logo" height="120" alt="INDIGO" src="http://www.indigo-astronomy.org/img/logo.png"></a>
					<div class="tree">
						<ul>
							<li initially-expanded>
								<span class="btn btn-lg" ng-click="expand($event)"><i class="glyphicon glyphicon-plus"></i>{{indigoServer}}</span>
								<ul>
									<li ng-repeat="device in model" initially-collapsed>
										<span class="btn btn-lg" ng-click="expand($event)"><i class="glyphicon glyphicon-plus"></i>{{device.device}}</span>
										<ul>
											<li ng-repeat="group in device.groups" initially-collapsed>
												<span class="btn btn-default btn-lg" ng-click="expand($event)"><i class="glyphicon glyphicon-plus"></i>{{group.group}}</span>
												<ul>
													<li ng-repeat="property in group.properties">
														<div class="panel panel-{{property.state | status}}">
															<div class="panel-heading"><i class="glyphicon glyphicon-th-list"></i>{{property.label}}</div>
															<div class="panel-body" ng-switch="property.type">

																<form name="form" class="form-horizontal" ng-switch-when="TEXT">
																	<div class="form-group row" ng-repeat="item in property.items">
																		<label class="col-sm-4 control-label">{{item.label}}</label>
																		<div class="col-sm-8">
																			<input name="{{device.device+'.'+property.property+'.'+item.item}}" class="form-control" type="text" ng-disabled="property.perm=='ro'" ng-model="item.value" ng-change="markModified(item)"/>
																		</div>
																	</div>
																	<div class="form-group row" ng-if="property.perm!='ro'">
																		<div class="col-sm-offset-4 col-sm-8">
																			<button type="submit" class="btn btn-primary" ng-click="setText(form, device, property)">Submit</button>
																			&nbsp;
																			<button class="btn btn-default" ng-click="reset(form, property)">Reset</button>
																		</div>
																	</div>
																</form>

																<form name="form" class="form-horizontal" ng-switch-when="NUMBER">
																	<div class="form-group row" ng-repeat="item in property.items">
																		<label class="col-sm-4 control-label">{{item.label}}</label>
																		<div class="col-sm-4" ng-if="property.perm!='ro'">
																			<input class="form-control" type="text" ng-disabled="true" ng-model="item.target"/>
																		</div>
																		<div class="col-sm-4" ng-if="property.perm!='ro'">
																			<input name="{{device.device+'.'+property.property+'.'+item.item}}" class="form-control" type="text" ng-disabled="property.perm=='ro'" ng-model="item.value" ng-change="markModified(item)"/>
																		</div>
																		<div class="col-sm-8" ng-if="property.perm=='ro'">
																			<input name="{{device.device+'.'+property.property+'.'+item.item}}" class="form-control" type="text" ng-disabled="property.perm=='ro'" ng-model="item.value" ng-change="markModified(item)"/>
																		</div>
																	</div>
																	<div class="form-group row" ng-if="property.perm!='ro'">
																		<div class="col-sm-offset-4 col-sm-8">
																			<button type="submit" class="btn btn-primary" ng-click="setNumber(form, device, property)">Submit</button>
																			&nbsp;
																			<button class="btn btn-default" ng-click="reset(form, property)">Reset</button>
																		</div>
																	</div>
																</form>

																<form class="form-horizontal" ng-switch-when="SWITCH">
																	<div class="form-group row" ng-if="property.rule=='OneOfMany'">
																		<div class="col-sm-4" ng-switch="item.value" ng-repeat="item in property.items">
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-primary btn-switch" ng-disabled="property.perm=='ro'" ng-switch-when="true">{{item.label}}</button>
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-default btn-switch" ng-disabled="property.perm=='ro'" ng-switch-when="false" ng-click="setSwitch(device, property, item, true)">{{item.label}}</button>
																		</div>
																	</div>
																	<div class="form-group row" ng-if="property.rule!='OneOfMany'">
																		<div class="col-sm-4" ng-switch="item.value" ng-repeat="item in property.items">
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-primary btn-switch" ng-disabled="property.perm=='ro'" ng-switch-when="true" ng-click="setSwitch(device, property, item, false)">{{item.label}}</button>
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-default btn-switch" ng-disabled="property.perm=='ro'" ng-switch-when="false" ng-click="setSwitch(device, property, item, true)">{{item.label}}</button>
																		</div>
																	</div>
																</form>

																<form class="form-horizontal" ng-switch-when="LIGHT">
																	<div class="form-group row">
																		<div class="col-sm-4" ng-switch="item.value" ng-repeat="item in property.items">
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-default btn-switch" ng-disabled="true" ng-switch-when="Idle">{{item.label}}</button>
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-warning btn-switch" ng-disabled="true" ng-switch-when="Busy">{{item.label}}</button>
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-success btn-switch" ng-disabled="true" ng-switch-when="Ok">{{item.label}}</button>
																			<button name="{{device.device+'.'+property.property+'.'+item.item}}" type="button" class="btn btn-danger btn-switch" ng-disabled="true" ng-switch-when="Alert">{{item.label}}</button>
																		</div>
																	</div>
																</form>

																<form class="form-horizontal" ng-switch-when="BLOB">
																	<div class="form-group row" ng-repeat="item in property.items">
																		<label class="col-sm-4 control-label">{{item.label}}</label>
																		<div class="col-sm-8" ng-if="property.state=='Ok' && item.value!=undefined">
																			<img width="100%" ng-src="{{'http://' + indigoServer + item.value}}" ng-if="item.jpeg"/>
																			<a ng-href="{{'http://' + indigoServer + item.value}}" ng-if="!item.jpeg">{{'http://' + indigoServer + item.value}}</a>
																		</div>
																	</div>
																</form>

																<div class="alert alert-warning alert-dismissible" role="alert" ng-if="property.message!=null">
																	<button type="button" class="close" ng-click="property.message=null"><span>&times;</span></button>
																	{{property.message}}
																</div>
															</div>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/resource/jquery.min.js"></script>
		<script type="text/javascript" src="/resource/bootstrap.min.js"></script>
		<script type="text/javascript" src="/resource/angular.min.js"></script>
		<script type="text/javascript">
			function addDevice(model, device) {
				for (var i = 0; i < model.length; i++) {
					var dev = model[i];
					if (dev.device === device)
						return dev;
				}
				var dev = { "device": device, "groups": [] };
				model.push(dev);
				return dev;
			}

		function addGroup(device, group) {
			var groups = device.groups;
			for (var i = 0; i < groups.length; i++) {
				var grp = groups[i];
				if (grp.group === group)
					return grp;
			}
			var grp = { "group": group, "properties": [] };
			groups.push(grp);
			return grp;
		}

		function addProperty(group, property) {
			var properties = group.properties;
			for (var i = 0; i < properties.length; i++) {
				var prop = properties[i];
				if (prop.property === property) {
					property.items = [];
					return prop;
				}
			}
			var prop = { "property": property, "items": [] };
			properties.push(prop);
			return prop;
		}

		function addItem(property, item) {
			var items = property.items;
			for (var i = 0; i < items.length; i++) {
				var itm = items[i];
				if (itm.item === item)
					return itm;
			}
			var itm = { "item": item, "modified": false };
			items.push(itm);
			return itm;
		}

		function getProperty(model, device, property) {
			for (var i = 0; i < model.length; i++) {
				var dev = model[i];
				if (dev.device === device) {
					var groups = dev.groups;
					for (var j = 0; j < groups.length; j++) {
						var grp = groups[j];
						var properties = grp.properties;
						for (var k = 0; k < properties.length; k++) {
							var prop = properties[k];
							if (prop.property === property)
								return prop;
						}
					}
				}
			}
			return undefined;
		}

		function getItem(property, item) {
			var items = property.items;
			for (var i = 0; i < items.length; i++) {
				var itm = items[i];
				if (itm.item === item)
					return itm;
			}
			return undefined;
		}

		function deleteProperty(model, device, property) {
			for (var i = 0; i < model.length; i++) {
				var dev = model[i];
				if (dev.device === device) {
					if (property === undefined) {
						model.splice(i, 1);
						return;
					}
					var groups = dev.groups;
					for (var j = 0; j < groups.length; j++) {
						var grp = groups[j];
						var properties = grp.properties;
						for (var k = 0; k < properties.length; k++) {
							var prop = properties[k];
							if (prop.property === property) {
								properties.splice(k, 1);
								if (properties.length == 0) {
									groups.splice(j, 1);
									if (groups.length == 0) {
										model.splice(i, 1);
									}
								}
								return;
							}
						}
					}
				}
			}
		}

		function doSend(message) {
			websocket.send(message);
		}

		angular.module('INDIGO', [])

		.filter('status', function() {
				return function(input) {
					switch (input) {
						case 'Ok':
							return 'success';
						case 'Busy':
							return 'warning';
						case 'Alert':
							return 'danger';
					}
					return 'default';
				};
		})

		.filter('switch', function() {
			return function(input) {
				if (input)
					return 'On';
				return 'Off';
			};
		})

		.directive('initiallyCollapsed', function() {
			return function(scope, node, attrs) {
				node.addClass("closed");
			}
		})

		.directive('initiallyExpanded', function() {
			return function(scope, node, attrs) {
			  node.addClass("open");
			}
		})

		.controller('INDIGOController', function($scope) {
			$scope.expand = function(event) {
				var node = $(event.target);
				if (node.hasClass("glyphicon"))
					node = node.parent();
				var parent = node.parent();
				var children = parent.find('>ul>li');
				if (parent.hasClass("open")) {
					parent.removeClass("open").addClass("closed");
					node.find('>i').addClass('glyphicon-plus').removeClass('glyphicon-minus');
				} else {
					parent.addClass("open").removeClass("closed");
					node.find('>i').addClass('glyphicon-minus').removeClass('glyphicon-plus');
				}
				event.stopPropagation();
			}

			$scope.markModified = function(item) {
				console.log("MARK " + JSON.stringify(item));
				if (!item.modified) {
					item.modified = true;
				}
			}

			$scope.reset = function(form, property) {
				console.log("RESET");
				for (i = 0; i < property.items.length; i++) {
					var item = property.items[i];
					item.value = item.oldValue
					item.modified = 0;
				}
				form.$setPristine();
			}

			$scope.onOpen = function (event) {
				console.log("CONNECTED");
				$scope.model = [];
				$scope.$apply();
				doSend('{ "getProperties": { "version": 512 } }');
			}

			$scope.onClose = function (event) {
				console.log("DISCONNECTED");
				$scope.model = [];
				$scope.$apply();
				setTimeout($scope.init, 1000);
			}

			$scope.onMessage = function (event) {
			console.log("MESSAGE "+event.data);
				try {
					var message = JSON.parse(event.data);
					var vector;
					if ((vector = message.defSwitchVector) != undefined) {
						var device = addDevice($scope.model, vector.device);
						var group = addGroup(device, vector.group);
						var property = addProperty(group, vector.name);
						property.label = vector.label;
						property.type = "SWITCH";
						property.perm = vector.perm;
						property.state = vector.state;
						property.rule = vector.rule;
						property.message = vector.message;
						for (var i = 0; i < vector.items.length; i++) {
							var item = addItem(property, vector.items[i].name);
							item.value = item.oldValue = vector.items[i].value;
							item.label = vector.items[i].label;
						}
					} else if ((vector = message.setSwitchVector) != undefined) {
						var property = getProperty($scope.model, vector.device, vector.name);
						if (property != undefined) {
							property.state = vector.state;
							property.message = vector.message;
							for (var i = 0; i < vector.items.length; i++) {
								var item = getItem(property, vector.items[i].name);
								if (item != undefined)
								item.value = item.oldValue = vector.items[i].value;
							}
						}
					} else if ((vector = message.defTextVector) != undefined) {
						var device = addDevice($scope.model, vector.device);
						var group = addGroup(device, vector.group);
						var property = addProperty(group, vector.name);
						property.label = vector.label;
						property.type = "TEXT";
						property.perm = vector.perm;
						property.state = vector.state;
						property.message = vector.message;
						for (var i = 0; i < vector.items.length; i++) {
							var item = addItem(property, vector.items[i].name);
							item.value = item.oldValue = vector.items[i].value;
							item.label = vector.items[i].label;
						}
					} else if ((vector = message.setTextVector) != undefined) {
						var property = getProperty($scope.model, vector.device, vector.name);
						if (property != undefined) {
							property.state = vector.state;
							property.message = vector.message;
							for (var i = 0; i < vector.items.length; i++) {
								var item = getItem(property, vector.items[i].name);
								if (item != undefined && !item.modified)
									item.value = item.oldValue = vector.items[i].value;
							}
						}
					} else if ((vector = message.defNumberVector) != undefined) {
						var device = addDevice($scope.model, vector.device);
						var group = addGroup(device, vector.group);
						var property = addProperty(group, vector.name);
						property.label = vector.label;
						property.type = "NUMBER";
						property.perm = vector.perm;
						property.state = vector.state;
						property.message = vector.message;
						for (var i = 0; i < vector.items.length; i++) {
							var item = addItem(property, vector.items[i].name);
							item.min = vector.items[i].min;
							item.max = vector.items[i].max;
							item.step = vector.items[i].step;
							item.value = item.oldValue = vector.items[i].value;
							if (vector.perm != "ro")
								item.target = vector.items[i].target;
							item.label = vector.items[i].label;
						}
					} else if ((vector = message.setNumberVector) != undefined) {
						var property = getProperty($scope.model, vector.device, vector.name);
						if (property != undefined) {
							property.state = vector.state;
							property.message = vector.message;
							for (var i = 0; i < vector.items.length; i++) {
								var item = getItem(property, vector.items[i].name);
								if (item != undefined) {
									if (!item.modified)
										item.value = item.oldValue = vector.items[i].value;
									if (vector.perm != "ro")
										item.target = vector.items[i].target;
								}
							}
						}
					} else if ((vector = message.defLightVector) != undefined) {
						var device = addDevice($scope.model, vector.device);
						var group = addGroup(device, vector.group);
						var property = addProperty(group, vector.name);
						property.label = vector.label;
						property.type = "LIGHT";
						property.state = vector.state;
						property.message = vector.message;
						for (var i = 0; i < vector.items.length; i++) {
							var item = addItem(property, vector.items[i].name);
							item.value = vector.items[i].value;
							item.label = vector.items[i].label;
						}
					} else if ((vector = message.setLightVector) != undefined) {
						var property = getProperty($scope.model, vector.device, vector.name);
						if (property != undefined) {
						property.state = vector.state;
						property.message = vector.message;
						for (var i = 0; i < vector.items.length; i++) {
							var item = getItem(property, vector.items[i].name);
							if (item != undefined)
								item.value = vector.items[i].value;
							}
						}
					} else if ((vector = message.defBLOBVector) != undefined) {
						var device = addDevice($scope.model, vector.device);
						var group = addGroup(device, vector.group);
						var property = addProperty(group, vector.name);
						property.label = vector.label;
						property.type = "BLOB";
						property.state = vector.state;
						property.message = vector.message;
						for (var i = 0; i < vector.items.length; i++) {
							var item = addItem(property, vector.items[i].name);
							item.label = vector.items[i].label;
						}
					} else if ((vector = message.setBLOBVector) != undefined) {
						var property = getProperty($scope.model, vector.device, vector.name);
						if (property != undefined) {
							property.state = vector.state;
							property.message = vector.message;
							for (var i = 0; i < vector.items.length; i++) {
								var item = getItem(property, vector.items[i].name);
								item.jpeg = false;
								if (item != undefined) {
									if (vector.items[i].value != undefined) {
										item.value = vector.items[i].value;
										item.jpeg = vector.items[i].value.substr(-5) === ".jpeg";
									}
								}
							}
						}
					} else if ((vector = message.deleteProperty) != undefined) {
						var property = deleteProperty($scope.model, vector.device, vector.name);
					}
				} catch(e) {
					alert(e);
				}
				$scope.$apply();
			}

			$scope.onError = function(event) {
				console.log("ERROR "+event.data);
				alert(event.data);
			}

			$scope.setSwitch = function(device, property, item, value) {
				var message = { "newSwitchVector": { "device": device.device, "name": property.property, "items": [ { "name": item.item, "value": value } ] } }
				message = JSON.stringify(message);
				doSend(message);
				console.log("SEND "+message);
			}

			$scope.setText = function(form, device, property) {
				var message = { "newTextVector": { "device": device.device, "name": property.property, "items": [ ] } }
				for (var i = 0; i < property.items.length; i++) {
					var item = property.items[i];
					message.newTextVector.items.push({ "name": item.item, "value": item.value });
					item.modified = false;
				}
				message = JSON.stringify(message);
				doSend(message);
				console.log("SEND "+message);
			}

			$scope.setNumber = function(form, device, property) {
				var message = { "newNumberVector": { "device": device.device, "name": property.property, "items": [ ] } }
				for (var i = 0; i < property.items.length; i++) {
					var item = property.items[i];
					message.newNumberVector.items.push({ "name": item.item, "value": Number(item.value) });
					item.modified = false;
				}
				message = JSON.stringify(message);
				doSend(message);
				console.log("SEND "+message);
			}

			$scope.indigoServer = window.location.hostname+":"+window.location.port;

			$scope.init = function() {
				console.log("INIT "+$scope.indigoServer);
				$scope.model = [];
				websocket = new WebSocket("ws://" + $scope.indigoServer);
				websocket.onopen = $scope.onOpen;
				websocket.onclose = $scope.onClose;
				websocket.onmessage = $scope.onMessage;
				websocket.onerror = $scope.onError;
			};

			$scope.init();
		});
		</script>
	</body>
</html>
