<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="bootstrap.min.css"/>
		<link rel="stylesheet" href="indigo.css"/>
	</head>
	<title>INDIGO Control Panel</title>
	<body class="bg-secondary">
		<div id="ROOT">
			<nav class="navbar navbar-expand-sm navbar-light bg-secondary">
				<a class="navbar-brand text-white" href="#">
					<img src="ctrl.png" width="40" height="40" class="d-inline-block align-middle" alt=""/>
					<h4 class="title">INDIGO Control Panel</h4>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="navbarContent" class="form-inline collapse navbar-collapse m-0">
					<template v-if="findProperty('Server', 'FEATURES') != null">
						<a class="nav-link pr-0 ml-auto" href="mng.html">
							<img src="mng.png" width="40" height="40" class="align-middle mr-0" alt=""/>
						</a>
						<a class="nav-link pr-0" href="ctrl.html">
							<img src="ctrl.png" width="40" height="40" class="align-middle mr-0" alt=""/>
						</a>
						<template v-if="findProperty('Server', 'FEATURES').item('WEB_APPS').value">
							<a class="nav-link pr-0" href="imager.html">
								<img src="imager.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
							<a class="nav-link pr-0" href="mount.html">
								<img src="mount.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
							<a class="nav-link pr-0">
								<img src="guider.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
						</template>
					</template>
				</div>
			</nav>
			<div class="container-fluid">
				<div v-if="devices['Server'] == null" class="alert alert-warning alert-dismissible m-1" role="alert">
					Waiting for server...
				</div>
				<template v-else>
					<div class="row">
						<div class="col-sm-12">
							<div class="card p-1 m-1 bg-light">
								<indigo-ctrl :devices="devices"></indigo-ctrl>
							</div>
						</div>
					</div>
				</template>
				<div id="SUCCESS" class="alert alert-success alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
				</div>
				<div id="FAILURE" class="alert alert-danger alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
				</div>
			</div>
		</div>
	</body>
	<script src="jquery.min.js"></script>
	<script src="popper.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="vue.min.js"></script>
	<script src="indigo.js"></script>
	<script src="components.js"></script>
	<script language="javascript" type="text/javascript">
		
		URL = new URL("ws://" + window.location.hostname+":"+window.location.port);

		window.addEventListener("load", init, false);
		
		function checkState() {
			if (INDIGO.devices["Server"] == null) {
				console.log("No 'Server' device.");
			}
		}
	
		function onDefineProperty(property) {
		}
	
		function onUpdateProperty(property) {
		}
	
		function onDeleteProperty(property) {
		}
	
	</script>
</html>
