<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="bootstrap.min.css"/>
		<link rel="stylesheet" href="glyphicons.css"/>
		<link rel="stylesheet" href="indigo.css"/>
	</head>
	<title>INDIGO Guider</title>
	<body class="bg-secondary">
		<div id="ROOT">
			<indigo-navbar active="guider" title="INDIGO Guider" icon="guider.png" expand="md"></indigo-navbar>
			<div class="container-fluid">
				<div v-if="devices['Guider Agent'] == null" class="alert alert-warning alert-dismissible m-1" role="alert">
					Waiting for Guider agent...
				</div>
				<template v-else>
					<div class="row g-0">
						<div class="col-md-4 indigo-side-panel">
							<template v-if="findProperty('Guider Agent', 'FILTER_CCD_LIST') != null">
								<div class="card p-1 m-1 bg-light">
									<div class="card-body d-flex flex-wrap">
										<indigo-select-item :property="findProperty('Guider Agent', 'FILTER_CCD_LIST')"></indigo-select-item>
									</div>
								</div>
							</template>
							<template v-if="findProperty('Guider Agent', 'FILTER_GUIDER_LIST') != null">
								<div class="card p-1 m-1 mt-2 bg-light">
									<div class="card-body d-flex flex-wrap">
										<indigo-select-item :property="findProperty('Guider Agent', 'FILTER_GUIDER_LIST')"></indigo-select-item>
									</div>
								</div>
							</template>
							<template v-if="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS') != null">
								<div class="card p-1 m-1 mt-2 bg-light">
									<div class="card-body d-flex flex-wrap">
										<indigo-select-item :property="findProperty('Guider Agent', 'AGENT_GUIDER_DETECTION_MODE')"></indigo-select-item>
										<indigo-edit-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'AGGRESSIVITY_RA'" :icon="'glyphicons-option-vertical'" :tooltip="'Aggressivity RA'"></indigo-edit-number>
										<indigo-edit-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'AGGRESSIVITY_DEC'" :icon="'glyphicons-option-horizontal'" :tooltip="'Aggressivity Dec'"></indigo-edit-number>
										<indigo-edit-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'EXPOSURE'" :icon="'glyphicons-stopwatch'" :values="[0.001, 0.01, 0.1, 1, 10, 100]" :tooltip="'Exposure Time'"></indigo-edit-number>
										<indigo-edit-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'STEP0'" :icon="'glyphicons-hourglass'" :values="[0.01, 0.05, 0.1, 0.2, 0.5, 1]" :tooltip="'Calibration Step'"></indigo-edit-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'SPEED_RA'" :icon="'px/s α'" :tooltip="'Right Ascension Speed'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'SPEED_DEC'" :icon="'px/s δ'" :tooltip="'Declination Speed'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'BACKLASH'" :icon="'b-lash'" :tooltip="'Backlash'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_SETTINGS')" :name="'ANGLE'" :icon="'angle'" :tooltip="'Angle'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'PHASE'" :icon="'phase'" :tooltip="'Calibration Phase'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'FRAME'" :icon="'frame'" :tooltip="'Frame Count'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'RMSE_RA'" :icon="'err α'" :tooltip="'Right Ascension RMSE'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'RMSE_DEC'" :icon="'err δ'" :tooltip="'Declination RMSE'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'DRIFT_RA'" :icon="'drft α'" :tooltip="'Right Ascension Drift'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'DRIFT_DEC'" :icon="'drft δ'" :tooltip="'Declination Drift'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'CORR_RA'" :icon="'cor α'" :tooltip="'Right Ascension Correction'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'CORR_DEC'" :icon="'cor δ'" :tooltip="'Declination Correction'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'DELAY'" :icon="'delay'" :tooltip="'Delay between frames'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'SNR'" :icon="'S/N'" :tooltip="'Signal/noise ratio'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'DITHERING'" :icon="'dithering'" :tooltip="'Dithering RMSE'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Guider Agent', 'AGENT_GUIDER_STATS')" :name="'PHASE'" :icon="'phase'" :tooltip="'Calibration phase'"></indigo-show-number>
										<div v-if="findProperty('Guider Agent', 'AGENT_START_PROCESS') != null" class="d-flex p-1 w-100 indigo-command-row">
											<indigo-status-button :status-class="calibrating ? 'busy-state' : 'idle-state'" :action="window.calibrate" data-bs-toggle="tooltip" title="Calibrate">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M7,12V9A1,1,0,0,1,8,8H9v5H8A1,1,0,0,1,7,12Zm5,3.92065a1,1,0,0,0-1.57349-.81927L3.88464,19.68073a1,1,0,0,0,0,1.63848l6.54187,4.57935A1,1,0,0,0,12,25.07928V23h5V18H12ZM13,8H11v5h2ZM24,18H23v5h1a1,1,0,0,0,1-1V19A1,1,0,0,0,24,18Zm4.11536-8.31927L21.57349,5.10138A1,1,0,0,0,20,5.92065V8H15v5h5v2.07928a1,1,0,0,0,1.57349.81928l6.54187-4.57935A1,1,0,0,0,28.11536,9.68073ZM19,23h2V18H19Z"/>
												</svg>
											</indigo-status-button>
											<indigo-status-button :status-class="guiding ? 'busy-state' : 'idle-state'" :action="window.guide" class="me-auto" data-bs-toggle="tooltip" title="Guide">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M28,19v1a1,1,0,0,1-1,1H22.50018a1.5002,1.5002,0,0,1-1.47674-1.23633L19.95215,13.7666,17.47363,26.78076a1.49992,1.49992,0,0,1-1.40625,1.21778c-.02246.001-.04492.00146-.06836.00146a1.50033,1.50033,0,0,1-1.4414-1.08789L12,17.96l-.55756,1.95191A1.50018,1.50018,0,0,1,10,21H5a1,1,0,0,1-1-1V19a1,1,0,0,1,1-1H8.86816l1.68946-5.91211a1.50014,1.50014,0,0,1,2.88476,0l2.26563,7.9292L18.52637,5.21924a1.5,1.5,0,0,1,2.95019.01709L23.75586,18H27A1,1,0,0,1,28,19Z"/>
												</svg>
											</indigo-status-button>
											<button class="btn btn-svg idle-state" onclick="stop()" data-bs-toggle="tooltip" title="Stop">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M25,8V24a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8A1,1,0,0,1,8,7H24A1,1,0,0,1,25,8Z"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
							</template>
						</div>
						<div class="col-md-8">
							<indigo-guider-graph ref="graph"></indigo-guider-graph>
						</div>
					</div>
				</template>
				<indigo-status-bar></indigo-status-bar>
			</div>
		</div>
	</body>
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="vue.global.prod.js"></script>
	<script src="indigo.js"></script>
	<script src="components.js"></script>
	<script>
		
		indigoURL = new URL((window.location.protocol == "https:" ? "wss://" : "ws://") + window.location.host);
		guiSetup();
		window.addEventListener("load", init, false);
		
		function checkState() {
			var server = INDIGO.devices["Server"];
			if (server == null) {
				console.log("No 'Server' device.");
			} else {
				var hostTime = INDIGO.devices["Server"]["HOST_TIME"];
				if (hostTime != null && hostTime.items[0].value == "") {
					changeProperty("Server", "HOST_TIME", { "TIME": timestamp() })
				}
				if (INDIGO.devices["Guider Agent"] == null) {
					console.log("No 'Guider Agent' device.");
					if (server["DRIVERS"].item("indigo_agent_guider") == null) {
						console.log("Trying to load 'indigo_agent_guider' driver.");
						changeProperty("Server", "LOAD", { "DRIVER": "indigo_agent_guider" });
					} else if (!server["DRIVERS"].item("indigo_agent_guider").value) {
						console.log("Trying to enable 'indigo_agent_guider' driver.");
						changeProperty("Server", "DRIVERS", { "indigo_agent_guider": true });
					}
				}
			}
		}
	
		var targetExposureTime = 0;

		function onDefineProperty(property) {
			onUpdateProperty(property);
		}
	
		function onUpdateProperty(property) {
			if (property.device == "Guider Agent") {
				if (property.name == "AGENT_START_PROCESS" && property.state != "Busy") {
					INDIGO.calibrating = false;
					INDIGO.guiding = false;
				} else if (property.name == "AGENT_GUIDER_STATS") {
					var phase = property.item("PHASE").value;
					var frame = property.item("FRAME").value;
					var graph = INDIGO.$refs.graph;
					if (graph != null) {
						if (frame <= 1) {
							graph.clear();
						}
						var driftRa;
						var driftDec;
						if (phase > 0) {
							driftRa = property.item("DRIFT_X").value;
							driftDec = property.item("DRIFT_Y").value;
						} else {
							driftRa = property.item("DRIFT_RA").value;
							driftDec = property.item("DRIFT_DEC").value;
						}
						graph.push(driftRa, driftDec, property.item("CORR_RA").value, property.item("CORR_DEC").value, property.item("DITHERING").value);
					}
				}
			}
			guiSetup();
		}
	
		function onDeleteProperty(property) {
			guiSetup();
		}
	
		function calibrate() {
			INDIGO.calibrating = true;
			INDIGO.guiding = false;
			changeProperty("Guider Agent", "AGENT_START_PROCESS", { "CALIBRATION" : true });
		}
	
		function guide() {
			INDIGO.calibrating = false;
			INDIGO.guiding = true;
			changeProperty("Guider Agent", "AGENT_START_PROCESS", { "GUIDING" : true });
		}
	
		function stop() {
			changeProperty("Guider Agent", "AGENT_ABORT_PROCESS", { "ABORT": true });
		}
	
	</script>
</html>
