<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="bootstrap.min.css"/>
		<link rel="stylesheet" href="glyphicons.css"/>
		<link rel="stylesheet" href="indigo.css"/>
	</head>
	<title>INDIGO Imager</title>
	<body class="bg-secondary">
		<div id="ROOT">
			<nav class="navbar navbar-expand-md navbar-light bg-secondary">
				<a class="navbar-brand text-white " href="#">
					<img src="imager.png" width="40" height="40" class="d-inline-block align-middle" alt=""/>
					<h4 class="title">INDIGO Imager</h4>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="navbarContent" class="form-inline collapse navbar-collapse m-0">
					<a class="nav-link pr-0 ml-auto" href="mng.html">
						<img src="mng.png" width="40" height="40" class="align-middle mr-0" alt=""/>
					</a>
					<a class="nav-link pr-0" href="ctrl.html">
						<img src="ctrl.png" width="40" height="40" class="align-middle mr-0" alt=""/>
					</a>
					<a class="nav-link pr-0" href="imager.html">
						<img src="imager.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
					</a>
					<a class="nav-link pr-0" href="mount.html">
						<img src="mount.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
					</a>
					<a class="nav-link pr-0">
						<img src="guider.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
					</a>
				</div>
			</nav>
			<div class="container-fluid">
				<div v-if="devices['Imager Agent'] == null" class="alert alert-warning alert-dismissible m-1" role="alert">
					Waiting for Imager agent...
				</div>
				<template v-else>
					<div class="row no-gutters">
						<div class="col-md-4" style="min-width:360px">
							<template v-if="findProperty('Imager Agent', 'FILTER_CCD_LIST') != null">
								<div class="card p-1 m-1 bg-light">
									<div class="card-block d-flex flex-wrap">
										<indigo-select-item :property="findProperty('Imager Agent', 'FILTER_CCD_LIST')"></indigo-select-item>
										<indigo-select-item :property="findProperty('Imager Agent', 'CCD_FRAME_TYPE')"></indigo-select-item>
										<indigo-select-item :property="findProperty('Imager Agent', 'CCD_MODE')"></indigo-select-item>
										<indigo-edit-number :property="findProperty('Imager Agent', 'CCD_TEMPERATURE')" :name="'TEMPERATURE'" :icon="'glyphicons-temperature-low'" :values="['Off', 0, -10, -15, -20, -30]" :enabler="findProperty('Imager Agent', 'CCD_COOLER')"></indigo-edit-number>
										<indigo-edit-number :property="findProperty('Imager Agent', 'AGENT_IMAGER_BATCH')" :name="'COUNT'" :icon="'glyphicons-repeat'" :values="[1, 5, 10, 15, 20, 30]"></indigo-edit-number>
										<indigo-edit-number :property="findProperty('Imager Agent', 'AGENT_IMAGER_BATCH')" :name="'EXPOSURE'" :icon="'glyphicons-stopwatch'" :values="[0.001, 0.01, 0.1, 1, 10, 100]"></indigo-edit-number>
										<indigo-edit-number :property="findProperty('Imager Agent', 'AGENT_IMAGER_BATCH')" :name="'DELAY'" :icon="'glyphicons-hourglass'" :values="[0, 5, 10, 15, 20, 30]"></indigo-edit-number>
										<indigo-edit-text :property="findProperty('Imager Agent', 'CCD_LOCAL_MODE')" :name="'DIR'" :icon="'glyphicons-folder-open'"></indigo-edit-text>
										<indigo-edit-text :property="findProperty('Imager Agent', 'CCD_LOCAL_MODE')" :name="'PREFIX'" :icon="'glyphicons-file'"></indigo-edit-text>
										<indigo-show-number :property="findProperty('Imager Agent', 'CCD_TEMPERATURE')" :name="'TEMPERATURE'" :icon="'glyphicons-temperature'" :enabler="findProperty('Imager Agent', 'CCD_COOLER')"></indigo-show-number>
										<indigo-show-number :property="findProperty('Imager Agent', 'AGENT_IMAGER_BATCH')" :name="'COUNT'" :icon="'glyphicons-repeat'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Imager Agent', 'CCD_EXPOSURE')" :name="'EXPOSURE'" :icon="'glyphicons-stopwatch'"></indigo-show-number>
										<indigo-show-number :property="findProperty('Imager Agent', 'AGENT_IMAGER_BATCH')" :name="'DELAY'" :icon="'glyphicons-hourglass'"></indigo-show-number>
										<div v-if="findProperty('Imager Agent', 'AGENT_IMAGER_BATCH') != null" class="d-flex p-1 w-100">
											<button id="preview1_button" class="btn btn-svg idle-state mr-2" onclick="preview1()">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M25,8H22.125L21.81,6.91992A2.83342,2.83342,0,0,0,19.25,5h-6.5a2.83342,2.83342,0,0,0-2.56,1.91992L9.875,8H7a3.00879,3.00879,0,0,0-3,3V23a3.00879,3.00879,0,0,0,3,3H25a3.00879,3.00879,0,0,0,3-3V11A3.00879,3.00879,0,0,0,25,8ZM16,23a6,6,0,1,1,6-6A6,6,0,0,1,16,23ZM26,11.5a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5ZM20,17a4,4,0,1,1-4-4A3.99992,3.99992,0,0,1,20,17Z"/>
												</svg>
											</button>
											<button id="preview_button" class="btn btn-svg idle-state mr-2" onclick="preview()">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M31,11v9a1,1,0,0,1-1,1H29l-5-3.43748v-4.125L29,10h1A1,1,0,0,1,31,11ZM20,8H6a2.00591,2.00591,0,0,0-2,2V21a2.00591,2.00591,0,0,0,2,2H20a2.00591,2.00591,0,0,0,2-2V10A2.00591,2.00591,0,0,0,20,8Z"/>
												</svg>
											</button>
											<button id="capture_button" class="btn btn-svg idle-state mr-auto" onclick="capture_batch()">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M16,5A11,11,0,1,0,27,16,11.01245,11.01245,0,0,0,16,5Zm0,19a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,16,24Zm5-8a5,5,0,1,1-5-5A5,5,0,0,1,21,16Z"/>
												</svg>
											</button>
											<button class="btn btn-svg idle-state" onclick="stop()">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
													<path d="M25,8V24a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8A1,1,0,0,1,8,7H24A1,1,0,0,1,25,8Z"/>
												</svg>
											</button>
										</div>
									</div>
								</div>
							</template>
							<template v-if="findProperty('Imager Agent', 'FILTER_WHEEL_LIST') != null">
								<div class="card p-1 m-1 mt-2 bg-light">
									<div class="card-block d-flex flex-wrap">
										<indigo-select-item :property="findProperty('Imager Agent', 'FILTER_WHEEL_LIST')"></indigo-select-item>
										<indigo-select-item :property="findProperty('Imager Agent', 'AGENT_WHEEL_FILTER')" :no_value="'Moving...'"></indigo-select-item>
									</div>
								</div>
							</template>
							<template v-if="findProperty('Imager Agent', 'FILTER_FOCUSER_LIST') != null">
								<div class="card p-1 m-1 mt-2 bg-light">
									<div class="card-block d-flex flex-wrap">
										<indigo-select-item :property="findProperty('Imager Agent', 'FILTER_FOCUSER_LIST')"></indigo-select-item>
										<indigo-edit-number :property="findProperty('Imager Agent', 'FOCUSER_POSITION')" :name="'POSITION'" :icon="'glyphicons-ruler'" :use_value="true"></indigo-edit-number>
										<indigo-stepper :property="findProperty('Imager Agent', 'FOCUSER_STEPS')" :name="'STEPS'" :direction="findProperty('Imager Agent', 'FOCUSER_DIRECTION')" :direction_left="'MOVE_INWARD'" :direction_right="'MOVE_OUTWARD'"></indigo-stepper>
									</div>
								</div>
							</template>
						</div>
						<div class="col-md-8">
							<div id="image_container" class="card p-1 m-1 bg-light" style="min-height: 10rem">
								<div class="card-block">
									<div class="card p-0">
										<img id="image" class="img-fluid"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</template>
				<div id="SUCCESS" class="alert alert-success alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
				</div>
				<div id="FAILURE" class="alert alert-danger alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
				</div>
			</div>
		</div>
	</body>
	<script src="jquery.min.js"></script>
	<script src="popper.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="vue.min.js"></script>
	<script src="indigo.js"></script>
	<script src="components.js"></script>
	<script language="javascript" type="text/javascript">
		
		URL = new URL("ws://" + window.location.hostname+":"+window.location.port);

		window.addEventListener("load", init, false);
		
		function checkState() {
			var server = INDIGO.devices["Server"];
			if (server == null) {
				console.log("No 'Server' device.");
			} else {
				var hostTime = INDIGO.devices["Server"]["HOST_TIME"];
				if (hostTime != null && hostTime.items[0].value == "") {
					changeProperty("Server", "HOST_TIME", { "TIME": timestamp() })
				}
				if (INDIGO.devices["Imager Agent"] == null) {
					console.log("No 'Imager Agent' device.");
					if (server["DRIVERS"].item("indigo_agent_imager") == null) {
						console.log("Trying to load 'indigo_agent_imager' driver.");
						changeProperty("Server", "LOAD", { "DRIVER": "indigo_agent_imager" });
					} else if (!server["DRIVERS"].item("indigo_agent_imager").value) {
						console.log("Trying to enable 'indigo_agent_imager' driver.");
						changeProperty("Server", "DRIVERS", { "indigo_agent_imager": true });
					}
				}
			}
		}
	
		var targetExposureTime = 0;
		var repeatExposure = false
		
		function onDefineProperty(property) {
			onUpdateProperty(property);
		}
	
		function onUpdateProperty(property) {
			if (property.device == "Imager Agent") {
				if (property.name == "AGENT_IMAGER_BATCH" && property.state == "Ok") {
					targetExposureTime = property.item("EXPOSURE").value;
				} else if (property.name == "CCD_IMAGE") {
					if (property.state == "Ok") {
						$("#preview1_button").removeClass("busy-state");
						$("#preview1_button").addClass("idle-state");
						$("#preview_button").removeClass("busy-state");
						$("#preview_button").addClass("idle-state");
						$("#capture_button").removeClass("busy-state");
						$("#capture_button").addClass("idle-state");
						var value = property.item("IMAGE").value;
						if (value != null) {
							$("#image").attr("src", "http://" + INDIGO.host + value + '?' + new Date().getTime());
						}
						if (repeatExposure) {
							$("#preview_button").removeClass("idle-state");
							$("#preview_button").addClass("busy-state");
							changeProperty("Imager Agent", "CCD_EXPOSURE", { "EXPOSURE": targetExposureTime });
						}
					} else if (property.state == "Alert") {
						$("#preview1_button").removeClass("busy-state");
						$("#preview1_button").addClass("idle-state");
						$("#preview_button").removeClass("busy-state");
						$("#preview_button").addClass("idle-state");
						$("#capture_button").removeClass("busy-state");
						$("#capture_button").addClass("idle-state");
					}
				}
			}
		}
	
		function onDeleteProperty(property) {
		}
	
		function preview1() {
			repeatExposure = false;
			$("#preview1_button").removeClass("idle-state");
			$("#preview1_button").addClass("busy-state");
			changeProperty("Imager Agent", "CCD_UPLOAD_MODE", { "PREVIEW" : true });
			changeProperty("Imager Agent", "CCD_EXPOSURE", { "EXPOSURE": targetExposureTime });
		}
	
		function preview() {
			repeatExposure = true;
			$("#preview_button").removeClass("idle-state");
			$("#preview_button").addClass("busy-state");
			changeProperty("Imager Agent", "CCD_UPLOAD_MODE", { "PREVIEW" : true });
			changeProperty("Imager Agent", "CCD_EXPOSURE", { "EXPOSURE": targetExposureTime });
		}
	
		function capture_batch() {
			repeatExposure = false;
			$("#capture_button").removeClass("idle-state");
			$("#capture_button").addClass("busy-state");
			changeProperty("Imager Agent", "CCD_UPLOAD_MODE", { "PREVIEW_LOCAL" : true });
			changeProperty("Imager Agent", "AGENT_START_PROCESS", { "EXPOSURE" : true });
		}
	
		function stop() {
			repeatExposure = false;
			changeProperty("Imager Agent", "AGENT_ABORT_PROCESS", { "ABORT": true });
		}
	
	</script>
</html>
