<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="bootstrap.min.css"/>
		<link rel="stylesheet" href="glyphicons.css"/>
		<link rel="stylesheet" href="indigo.css"/>
	</head>
	<title>INDIGO Script</title>
	<body class="bg-secondary">
		<div id="ROOT">
			<nav class="navbar navbar-expand-md navbar-light">
				<a class="navbar-brand text-white " href="#">
					<img src="guider.png" width="40" height="40" class="d-inline-block align-middle" alt=""/>
					<h4 class="title">INDIGO Script</h4>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="navbarContent" class="form-inline collapse navbar-collapse m-0">
					<template v-if="findProperty('Server', 'FEATURES') != null">
						<a class="nav-link pr-0 ml-auto" href="mng.html" data-toggle="tooltip" title="Server Manager">
							<img src="mng.png" width="40" height="40" class="align-middle mr-0" alt=""/>
						</a>
						<a class="nav-link pr-0" href="ctrl.html" data-toggle="tooltip" title="Control Panel">
							<img src="ctrl.png" width="40" height="40" class="align-middle mr-0" alt=""/>
						</a>
						<template v-if="findProperty('Server', 'FEATURES').item('WEB_APPS').value">
							<a class="nav-link pr-0" href="imager.html" data-toggle="tooltip" title="Imager">
								<img src="imager.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
							<a class="nav-link pr-0" href="mount.html" data-toggle="tooltip" title="Mount">
								<img src="mount.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
							<a class="nav-link pr-0" href="guider.html" data-toggle="tooltip" title="Scripting">
								<img src="guider.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
							<a class="nav-link pr-0" href="script.html" data-toggle="tooltip" title="Script">
								<img src="script.png" width="40" height="40" class="d-inline-block align-middle mr-0" alt=""/>
							</a>
						</template>
					</template>
				</div>
			</nav>
			<div class="container-fluid">
				<div v-if="devices['Scripting Agent'] == null" class="alert alert-warning alert-dismissible m-1" role="alert">
					Waiting for Scripting agent...
				</div>
				<template v-else>
					<div class="row no-gutters">
						<div id="property" v-for="property in scriptsProperties()" :class="'col-md-' + 12 / columns">
							<div class="card p-1 m-1 bg-light">
								<form class="m-0">
									<div v-if="property.name=='AGENT_SCRIPTING_ADD_SCRIPT'" class="form-group row m-1 p-1">
										<input :id="'N_'+property.name" type="text" class="form-control" placeholder="New script name" @input="Vue.set(property, 'dirty', true)">
									</div>
									<div v-else class="form-group row m-1 p-1">
										<input :id="'N_'+property.name" type="text" class="form-control" placeholder="No script name" :value="property.label" @input="Vue.set(property, 'dirty', true)">
									</div>
									<div v-if="property.name=='AGENT_SCRIPTING_ADD_SCRIPT'" class="form-group row m-1 p-1">
										<textarea :id="'S_'+property.name" class="form-control fixed" rows="3" placeholder="New script" @input="Vue.set(property, 'dirty', true)"></textarea>
									</div>
									<div v-else class="form-group row m-1 p-1">
										<textarea :id="'S_'+property.name" class="form-control fixed" rows="3" placeholder="No script" @input="Vue.set(property, 'dirty', true)">{{ property.item('SCRIPT').value }}</textarea>
									</div>
									<div class="float-left m-1 m-1 p-1">
										<button type="button" class="btn btn-sm ml-1" :class="findProperty('Scripting Agent', 'AGENT_SCRIPTING_ON_LOAD_SCRIPT').item(property.name).value ? 'btn-primary' : 'btn-default'" style="min-width: 6rem" data-toggle="tooltip" title="Execute script on agent load" @click="onLoad(property)">On load</button>
										<button type="button" class="btn btn-sm ml-1" :class="findProperty('Scripting Agent', 'AGENT_SCRIPTING_ON_UNLOAD_SCRIPT').item(property.name).value ? 'btn-primary' : 'btn-default'" style="min-width: 6rem" data-toggle="tooltip" title="Execute script on agent unload" @click="onUnload(property)">On unload</button>
									</div>
									<div class="float-right m-1 m-1 p-1">
										<button v-if="property.name!='AGENT_SCRIPTING_ADD_SCRIPT'" type="button" class="btn btn-sm btn-success ml-1" style="min-width: 6rem" :disabled="property.dirty" data-toggle="tooltip" title="Execute script" @click="execute(property)">Execute</button>
										<button v-if="property.name!='AGENT_SCRIPTING_ADD_SCRIPT'" type="button" class="btn btn-sm btn-danger ml-1" style="min-width: 6rem" :disabled="property.dirty" data-toggle="tooltip" title="Delete script" @click="remove(property)">Delete</button>
										<button v-if="property.name=='AGENT_SCRIPTING_ADD_SCRIPT'" type="button" class="btn btn-sm btn-primary ml-1" style="min-width: 6rem" data-toggle="tooltip" title="Create new script" @click="save(property)">Create</button>
										<button v-else type="button" class="btn btn-sm btn-primary ml-1" style="min-width: 6rem" data-toggle="tooltip" title="Save script name and text" @click="save(property); property.dirty = false">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</template>
				<div id="SUCCESS" class="alert alert-success alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
					<span v-if="findProperty('Server', 'INFO')" class="float-right">
						INDIGO Server {{findProperty('Server', 'INFO').item('VERSION').value}} at {{findProperty('Server', 'INFO').item('SERVICE').value}}
					</span>
				</div>
				<div id="FAILURE" class="alert alert-danger alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
				</div>
				<div id="MESSAGE" class="alert alert-warning alert-dismissible fade show m-1" role="alert" style="display:none;">
					{{ state }}
				</div>
				<div class="alert alert-info show m-1" role="alert">
					Copyright &copy; 2019-2025, The INDIGO Initiative. All rights reserved.
					<a v-if="dark" href="#" class="float-right" onclick="setLightMode()">Switch to light appearance</a>
					<a v-else href="#" class="float-right" onclick="setDarkMode()">Switch to dark appearance</a>
					<a v-if="columns == 3" href="#" class="float-right mr-3" onclick="$('div.col-md-4').removeClass('col-md-4').addClass('col-md-12');INDIGO.columns=1">Switch to 1 column</a>
					<a v-else href="#" class="float-right mr-3" onclick="$('div.col-md-12').removeClass('col-md-12').addClass('col-md-4');INDIGO.columns=3">Switch to 3 columns</a>
				</div>
			</div>
		</div>
	</body>
	<script src="jquery.min.js"></script>
	<script src="popper.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="vue.min.js"></script>
	<script src="indigo.js"></script>
	<script src="components.js"></script>
	<script language="javascript" type="text/javascript">
		
		indigoURL = new URL("ws://" + window.location.hostname+":"+window.location.port);
		guiSetup();
		window.addEventListener("load", init, false);
		
		function checkState() {
			var server = INDIGO.devices["Server"];
			if (server == null) {
				console.log("No 'Server' device.");
			} else {
				var hostTime = INDIGO.devices["Server"]["HOST_TIME"];
				if (hostTime != null && hostTime.items[0].value == "") {
					changeProperty("Server", "HOST_TIME", { "TIME": timestamp() })
				}
				if (INDIGO.devices["Scripting Agent"] == null) {
					console.log("No 'Scripting Agent' device.");
					if (server["DRIVERS"].item("indigo_agent_scripting") == null) {
						console.log("Trying to load 'indigo_agent_scripting' driver.");
						changeProperty("Server", "LOAD", { "DRIVER": "indigo_agent_scripting" });
					} else if (!server["DRIVERS"].item("indigo_agent_scripting").value) {
						console.log("Trying to enable 'indigo_agent_scripting' driver.");
						changeProperty("Server", "DRIVERS", { "indigo_agent_scripting": true });
					}
				}
			}
		}
	
		function onDefineProperty(property) {
			onUpdateProperty(property);
		}

		function onUpdateProperty(property) {
			guiSetup();
		}
	
		function onDeleteProperty(property) {
			guiSetup();
		}
	
		function onLoad(property) {
			var values = {};
			values[property.name] = !INDIGO.findProperty('Scripting Agent', 'AGENT_SCRIPTING_ON_LOAD_SCRIPT').item(property.name).value;
			changeProperty('Scripting Agent', 'AGENT_SCRIPTING_ON_LOAD_SCRIPT', values);
		}

		function onUnload(property) {
			var values = {};
			values[property.name] = !INDIGO.findProperty('Scripting Agent', 'AGENT_SCRIPTING_ON_UNLOAD_SCRIPT').item(property.name).value;
			changeProperty('Scripting Agent', 'AGENT_SCRIPTING_ON_UNLOAD_SCRIPT', values);
		}

		function save(property) {
			var values = {};
			var name = $("#N_" + property.name);
			var script = $("#S_" + property.name);
			values['NAME'] = name.val()
			values['SCRIPT'] = script.val()
			changeProperty('Scripting Agent', property.name, values);
		}
	
		function remove(property) {
			save(property);
			var values = {};
			values[property.name] = true;
			changeProperty('Scripting Agent', 'AGENT_SCRIPTING_DELETE_SCRIPT', values);
		}

		function execute(property) {
			save(property);
			var values = {};
			values[property.name] = true;
			changeProperty('Scripting Agent', 'AGENT_SCRIPTING_EXECUTE_SCRIPT', values);
		}
	</script>
</html>
