SUBSYSTEMS=="usb", ATTRS{idVendor}=="134a", ATTRS{idProduct}=="9023", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="134a", ATTRS{idProduct}=="9024", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="134a", ATTRS{idProduct}=="903f", MODE="0666"
