SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df28", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df2c", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df2d", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df2e", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df2f", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df30", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="df31", MODE="0666"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df2c", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df2d", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df2e", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df2f", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df30", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df31", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df33", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df34", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df35", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df36", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df3a", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df3c", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df3d", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="df3e", MODE="0666"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfa8", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfab", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfac", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfad", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfae", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfb0", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfb3", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfb4", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfb5", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfb6", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfb8", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20e7", ATTRS{idProduct}=="dfbb", MODE="0666"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="003f", MODE="0666"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e10", ATTRS{idProduct}=="2004", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e10", ATTRS{idProduct}=="2005", MODE="0666"

