ACTION=="add", ATTR{idVendor}=="03c3", RUN+="/bin/sh -c '/bin/echo 200 >/sys/module/usbcore/parameters/usbfs_memory_mb'"
#"ASI030MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="030a" GROUP="users", MODE="0666" 
#"ASI031MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="031a" GROUP="users", MODE="0666" 
#"ASI031MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="031b" GROUP="users", MODE="0666" 
#"ASI034MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="034b" GROUP="users", MODE="0666" 
#"ASI035MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="035a" GROUP="users", MODE="0666" 
#"ASI035MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="035b" GROUP="users", MODE="0666" 
#"ASI071MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="071a" GROUP="users", MODE="0666" 
#"ASI071MC Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="071b" GROUP="users", MODE="0666" 
#"ASI094MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="094a" GROUP="users", MODE="0666" 
#"ASI094MC Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="094b" GROUP="users", MODE="0666" 
#"ASI120MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="120a" GROUP="users", MODE="0666" 
#"ASI120MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="120b" GROUP="users", MODE="0666" 
#"ASI120MM-S Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="120d" GROUP="users", MODE="0666" 
#"ASI120MC-S Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="120e" GROUP="users", MODE="0666" 
#"ASI128MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="128a" GROUP="users", MODE="0666" 
#"ASI128MC Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="128f" GROUP="users", MODE="0666" 
#"ASI130MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="130a" GROUP="users", MODE="0666" 
#"ASI136MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="136a" GROUP="users", MODE="0666" 
#"ASI1600MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1600" GROUP="users", MODE="0666" 
#"ASI1600MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1601" GROUP="users", MODE="0666" 
#"ASI1600MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1602" GROUP="users", MODE="0666" 
#"ASI1600MM COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1603" GROUP="users", MODE="0666" 
#"ASI1600MM Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1604" GROUP="users", MODE="0666" 
#"ASI1600MC Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1605" GROUP="users", MODE="0666" 
#"ASI174MM Mini Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="1749" GROUP="users", MODE="0666" 
#"ASI174MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="174a" GROUP="users", MODE="0666" 
#"ASI174MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="174b" GROUP="users", MODE="0666" 
#"ASI174MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="174c" GROUP="users", MODE="0666" 
#"ASI174MM COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="174d" GROUP="users", MODE="0666" 
#"ASI178MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="178a" GROUP="users", MODE="0666" 
#"ASI178MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="178b" GROUP="users", MODE="0666"  
#"ASI178MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="178c" GROUP="users", MODE="0666"
#"ASI178MM COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="178d" GROUP="users", MODE="0666" 
#"ASI183MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="183a" GROUP="users", MODE="0666" 
#"ASI183MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="183b" GROUP="users", MODE="0666" 
#"ASI183MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="183d" GROUP="users", MODE="0666" 
#"ASI183MM Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="183e" GROUP="users", MODE="0666" 
#"ASI183MC Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="183f" GROUP="users", MODE="0666" 
#"ASI185MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="185a" GROUP="users", MODE="0666" 
#"ASI185MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="185b" GROUP="users", MODE="0666" 
#"ASI224MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="224a" GROUP="users", MODE="0666" 
#"ASI224MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="224b" GROUP="users", MODE="0666" 
#"ASI226MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="226a" GROUP="users", MODE="0666" 
#"ASI252MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="252a" GROUP="users", MODE="0666" 
#"ASI252MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="252b" GROUP="users", MODE="0666" 
#"ASI290MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="290a" GROUP="users", MODE="0666" 
#"ASI290MM Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="290b" GROUP="users", MODE="0666" 
#"ASI290MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="290c" GROUP="users", MODE="0666" 
#"ASI290MM COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="290d" GROUP="users", MODE="0666" 
#"ASI290MM Mini Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="290f" GROUP="users", MODE="0666" 
#"ASI294MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="294c" GROUP="users", MODE="0666" 
#"ASI294MC Pro Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="294f" GROUP="users", MODE="0666" 
#"ASI385MC Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="385b" GROUP="users", MODE="0666" 
#"ASI385MC COOL Camera"
ATTR{idVendor}=="03c3" ATTR{idProduct}=="385d" GROUP="users", MODE="0666" 